*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: #f3f3f3;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}